.InfoPage {
    width: min(90%,90rem);
    margin: 5rem auto;
    min-height: 20vh;
}

.InfoPage h1{
    color: var(--primary-color);
    font-size: 2rem;
}
.InfoPage h2{
    color: var(--primary-color);
    font-size: 1.7rem;
}

.InfoPage h4{
    color: var(--primary-color);

}

.InfoPage p{
    text-align: justify;
    text-justify: inter-word;
}