.NavBar-container{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}

.NavBar{
    background-color: var(--background-color);
    -webkit-box-shadow: 0px 9px 11px 7px rgba(0,0,0,0.24);
    box-shadow: 0px 9px 11px 2px rgba(0,0,0,0.1);
    z-index: 80;

    display: flex;
    align-items: center;
    padding: 2.5rem 10vw;
    justify-content: space-between;
}
.NavBar svg{
    width: 13rem;
    height: auto;
}

.NavBar svg:hover{
    transform: scale(1.05);
    cursor: pointer;

}

.NavBar .buttons-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.NavBar a{
    all:unset;
    color:var(--primary-color);
    cursor: pointer;
    transition: 0.3s;
    margin-left: 1rem;
    font-size: 1rem;
    font-weight: bold;

    display: inline-block;
    position: relative;
}

/*.NavBar a:hover{*/
/*    color: var(--primary-color-opaque);*/
/*}
*/

.NavBar a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: -1rem;
    content: "";
    display: block;
    height: 3px;
    left: 50%;
    position: absolute;
    background: var(--primary-color);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.NavBar a:hover:after {
    width: 100%;
    left: 0;
}

@media only screen and (max-width: 1100px){
    .NavBar {
        padding: 2rem 10vw;
    }

    .NavBar .buttons-container{
        display: none;
    }
    .NavBar svg{
        width: min(13rem,40vw);
        height: auto;
    }

}





