.kidneyIcon{
    fill: var(--kidney-color);
    width: min(10rem,30vw);
}

.kidneyIcon path{
    width: 30vw;
}

.KidneysWidget{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    margin-top: 2rem;
    column-gap: 0.5rem;
}
