.SurveyContainer{
    margin:7rem 15vw;
}

.SurveyContainer label{
    color: var(--primary-color);
}

.SurveyContainer> div:first-of-type
{
    z-index: 100;
}

.SurveyContainer button{
    margin:0 auto;
    margin-top: 2rem;
    font-weight: bold;
    background-color: var(--secondary-color);
}
.SurveyContainer .Survey-checkbox{
    display: flex;
    align-items: flex-start;
    margin-top: 2rem;
}
.SurveyContainer .Survey-checkbox label{
    color: var(--text-color);
}

@media only screen and (max-width: 400px){
    .SurveyContainer{
        margin:7rem 7vw;
    }
}