.LabCodeGenerator{
    overflow-wrap: break-word;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.LabCodeGenerator h2{
    color: var(--primary-color);
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;

}
.ResultsPage .resultContainer .LabCodeGenerator h3{
    animation: none;
}

.LabCodeGenerator p{
    max-width: 65rem;
    margin: 1rem auto;
    text-align: justify;
    color: var(--primary-color);
    font-size: 1.1rem;

}

.LabCodeGenerator .form-group{
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

/*Email input field*/
.LabCodeGenerator  input[type=email], .LabCodeGenerator input[type=number], .LabCodeGenerator input[type=tel]{
    all: unset;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    padding:1rem 1rem;
    width: min(90%,30rem) ;
    margin-top: 1rem;
    background-color: var(--section-bg-color);
    text-align: center;
    border-radius: 0.5rem;
    font-size: 1.05rem;
    color: var(--text-color);
}
.LabCodeGenerator .loadingContainer{
    text-align: center;
    border: 1px var(--primary-color-opaque) solid;
    padding: 1rem 2%;
}
.LabCodeGenerator .loadingContainer h3{
    text-align: center;
    text-align-last: unset;
    margin-top:unset;
    margin-bottom: 0.5rem;
    font-weight: bold;
}
.LabCodeGenerator .loadingContainer span{
opacity: 0.8;
}

.LabCodeGenerator .feedback{
    color:var(--secondary-color);
    font-size: 1.2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.LabCodeGenerator button{
    background-color: var(--secondary-color);
    margin: 2rem auto;
}

.codeContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.codeContainer h3{
    color:var(--primary-color);
    font-size:1.5rem;
    margin-bottom: 1rem;
    animation: none;
}

.codeContainer .code{
    margin-top: 1rem;
    font-size:3rem;
    font-weight: bold;
    color:var(--secondary-color);
    border: 1px var(--primary-color-opaque) solid;
    border-radius: 3%;
    padding: 0.5rem 1vw;
}


.LabCodeGenerator .form-check{
    display: flex;
    align-items: flex-start;
}

.LabCodeGenerator .form-check-label{
    display: inline-block;
    text-align: left;
}
.LabCodeGenerator .checkBoxes{
    margin-top:2.5rem;
}
