.InfoPage .img-container{
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 2rem;
    background-color: var(--section-bg-color);
    justify-content: space-around;
    row-gap: 1rem;
    column-gap: 0.5rem;
}

.InfoPage .img-container img{
    width: min(35rem,100%);
    height: auto;
    object-fit: cover;
}