/*---------------------
[Colors]
Color definitions, to be used with by var reference
ex. "color: var (--some-color);"
---------------------*/
:root{
  --body-color:#282828;
  --primary-color: #03379a;
  --primary-color-lighter:#42a2d9 ;
  --primary-color-opaque: rgba(3,55,154,0.5);
  --secondary-color: #dc5555;
  --secondary-color-lighter: #f8bbd0;
  --section-bg-color:#f7f6f6;
  --background-color:white;
  --text-color:black;
  --hyperlink-color:#0645AD;
  --check-input-shadow-color:rgba(0,0,0,0.15)

}
/*---------------------
[Fonts]
---------------------*/
@font-face {
  font-family: 'Orion';
  src: local('Orion'), url(./Assets/ORION.TTF) format('truetype');
}

/*---------------------
[Overall styling]
---------------------*/
.App {
  font-family: Arial,sans-serif;
}
html{
  background-color: #eaeaea;
  scroll-padding-top: 10rem;
}



body {
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 3000px;
  background-color: var(--background-color);
}

p{
  color: var(--text-color);
}
a{
  color:var(--hyperlink-color)
}
label{
  color: var(--text-color);
}



/*---------------------
[Default page button]
---------------------*/
button{
  all:unset;
  display: block;

  padding: min(2rem,4vw) min(17vw,12.5rem);
  border-radius: 0.4rem;
  cursor: pointer;
  box-shadow: 5px 8px 13px 0px rgba(0,0,0,0.15);


  color: var(--background-color);
  font-size:2rem;
  font-weight: 500;

  transition: 0.3s;
  text-align: center;
}

button:hover {
  transform: scale(1.05);
}

/*---------------------
[Checkbox styling]
---------------------*/

input[type=checkbox] {
  width: 1.5rem;
  min-width: 1.5rem;
  height: 1.5rem;
  box-shadow: 0px 0px 13px 0px var(--check-input-shadow-color);
  margin-right: 0.7rem;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* create custom checkbox appearance */
  display: inline;
  /* background-color only for content */
  background-clip: content-box;
  border: none;
  border-radius: 10%;
  background-color: var(--background-color);
  padding:0.7rem;
  transition: 0.1s ease-in;
}

input[type=checkbox]:checked{
   background-color: var(--secondary-color);
   padding:4px;
}

input[type=checkbox]:focus{
   outline: none !important;
 }

.checkBoxes{
  row-gap: 1rem;
  margin-top: 1.5rem;
  align-items: flex-start;
  max-width: 55rem;
}
input{
  color: var(--text-color);
}
/* Change color after autocomplete in chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active
{
  -webkit-box-shadow: 0 0 0 30px #ececec inset !important;
}

/* HIDE ARROWS IN NUMBER INPUTS*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
