.Banner{
    color: var(--primary-color);
    padding: min(8vw,200px) min(10vw,200px);
    background-size: cover;
    background: var(--section-bg-color) url("../../Assets/banner_recolor.png") no-repeat;
    background-position: 50% -250px;
    animation-name:slideHands;
    animation-duration: 1s;
}

/* slide hands in animation */
@keyframes slideHands {
    from {  background-position: 50% -320px;}
    to {  background-position: 50% -250px;}
}



.Banner .container{
    width: 40%;
}

.container h1{
    color:var(--primary-color);
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1.2rem;
}

.container p{
    color:var(--primary-color);
    font-size: 1.2rem;
}

@keyframes slideHandsMobile {
    from {  background-position: 65% 60px;}
    to {  background-position: 65% 70px;}
}

@media (max-width: 1100px) {
    .Banner{
        padding: 0 0;
        height: 22rem;
        display: flex;
        align-items: center;
        background-size: auto 25rem;
        background-attachment: fixed;
        background-position: 65% 70px;
        animation-name:slideHandsMobile;
    }

    .container h1{
        font-size: 2rem;
    }
    .container p{
        font-size: 1.1rem;
        text-align: justify;
    }
    .container{
        padding: 10px 5%;
    }

}

