:root{
    --hand-animation-state: paused;
}
.Banner{
    color: var(--primary-color);
    padding: min(8vw,200px) min(10vw,200px);
    background-color: var(--section-bg-color);
    background-repeat: no-repeat;
    background-position: 50% -250px;
    animation-name:slideHands;
    animation-play-state: var(--hand-animation-state);
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
}

/* slide hands in animation */
@keyframes slideHands {
    from {  background-position: 50% -320px;}
    to {  background-position: 50% -250px;}
}

.Banner .container{
    width: 40%;
}

.container h1{
    color:var(--primary-color);
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1.2rem;
    animation: fadeInLeft;
    animation-duration: 1s;
    animation-fill-mode: backwards;
    animation-delay: 0.5s;
}

.container p{
    color:var(--primary-color);
    font-size: 1.2rem;
    animation: fadeInLeft;
    animation-duration: 2s;
    animation-fill-mode: backwards;
    animation-delay: 0.5s;
}

@keyframes slideHandsMobile {
    from {  background-position: 65% 60px;}
    to {  background-position: 65% 80px;}
}

@media (max-width: 1100px) {
    .Banner{
        padding: 0 0;
        height: 300px;
        display: flex;
        align-items: center;
        background-size: auto 25rem;
        background-attachment: fixed;
        background-position: 65% 80px;
        animation-name:slideHandsMobile;
    }

    .container h1{
        font-size: 2rem;
    }
    .container p{
        font-size: 1.1rem;
        text-align: justify;
    }
    .container{
        padding: 10px 5%;
        -webkit-box-shadow: 5px -7px 15px 5px rgba(0,0,0,0.1);
        box-shadow: 5px -7px 15px 5px rgba(0,0,0,0.1);
    }

}

